* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(206, 210, 226, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*navbar */
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/*logo */
nav img {
    width: 200PX;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;

}
/* Search input */

.search-bar{
    width:100%;
    max-width:700px;
    background:rgba(255, 255, 255,0.2);
    align-items:center;
    border-radius:60px;
    padding:10px 20px;
    backdrop-filter:blur(4px) saturate(180%);
}

.search-bar input{
    background:transparent;
    flex:1;
    border:0;
    outline:none;
    font-size:20px;

    
}

::placeholder{
    color:#cac7ff;
}

.search-bar button img{
  width:25px;   
}
.search-bar button{
    border:0;
    border-radius:50%;
    width:60px;
    height:60px;
    background:#58629b;
    cursor:pointer;
}

/* search input end */

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fas {
    display: none;
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fas {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}

/*----Equipment---*/
.equipment {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.equipment-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/*-----campus-----*/

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
    width: 100;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49px;
    opacity: 1;
}

/*-----facilities----*/

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*----testimonial----*/
.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0;
}

.testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fa {
    color: #f44336;
}

@media(max-width:700px) {
    .testimonial-col img {
        margin-left: 0px;
        margin-right: 15Spx;
    }
}

/*---call to action---*/

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width:700px) {
    .cta h1 {
        font-size: 24px;

    }

}

/*---footer---*/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #8D97A7;
}

.footer:h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icon .fab {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}

.fa-heart-o {
    color: #f44336;

}
/* loginin */
.container_{
    width:100;
    height:75vh;
    font-family:sans-serif;
    background: transparent;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;

}
.card{
    width:350px;
    height:500px;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    perspective:1000px;
}
.inner-box{
    position:relative;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    transition: transform 1s;
}
.card-front, .card-back{
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
    background-image:linear-gradient(rgba(0,0,100,0.8),rgba(0,0,100,0.8)),url(images/background.png);
    padding:55px;
    box-sizing:border-box;
    backface-visibility:hidden;
}
.card-back{
    transform:rotateY(180deg);
}
.card h2{
    font-weight:normal;
    font-size:24px;
    text-align:center;
    margin-bottom:20px;
}
.input-box{
    width:100%;
    background:transparent;
    border:1px solid #fff;
    margin:6px 0;
    height:32px;
    border-radius:20px;
    padding:0 10px;
    box-sizing:border-box;
    outline:none;
    text-align:center;
    color:#fff;

}
::placeholder{
    color:#fff;
    font-size:12px;
}
.container_ button{
    width:100%;
    background:transparent;
    border:1px solid #fff;
    margin:35px 0 10px;
    height:32px;
    font-size:12px;
    border-radius:20px;
    padding:0 10px;
    box-sizing:border-box;
    outline:none;
    color:#fff;
    cursor:pointer;


}
.submit-btn{
    position:relative;
}
.submit-btn::after{
    content:'\27a4';
    color:#333;
    line-height:32px;
    font-size:17px;
    height:32px;
    width:32px;
    border-radius:50%;
    background:#fff;
    position:absolute;
    right:-1px;
    top:-1px;
}

.container_ span{
    font-size:13px;
    margin-left:10px;
}
.card .btn{
    margin-top:70px;
}

.card a{
    color:#fff;
    text-decoration:none;
    display:block;
    text-align:center;
    font-size:13px;
    margin-top:8px;
}

.swiper{
    width:80%;
    height:fit-content;   
}
.swiper-slide img{
    width:100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color:#fff;
}
.swiper .swiper-pagination-bullet-active{
    background:#fff;
}


/* alert */
#success_alert {
    padding: 20px;
    background-color: hsl(108, 80%, 21%);
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  #error_alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  /* table */
  #myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 80%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }
.boxx{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:"Raleway", sans-serif;
}
  /* contact form */
  .container__{
    width:500px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    padding:2em;
    background-color:#fff;
}
.container__ .form-group{
    margin-bottom:1.5em;
    transition:all .3s;
}
.container__ .form-label{
    font-size:.75em;
    color:var(--font-color);
    display:block;
    opacity:0;
    transition: all .3s;
    transform:translateX(-50px);
}
.container__ .form-control{
    box-shadow:none;
    border-radius:0;
    border-color:#ccc;
    border-style:none none solid none;
    width:100%;
    font-size:1.25em;
    transition:all .6s;
}
.container__ .form-control::placeholder{
    color:#aaa;
}
.container__ .form-control:focus{
    box-shadow:none;
    border-color:var(--font-hover-color);
    outline:none;
}
.container__ .form-group:focus-within{
    transform:scale(1.1,1.1);
}

.container__ .form-control:invalid:focus{
    border-color:red;
}
.container__ .form-control:valid:focus{
    border-color:green;
}

.container__ .btn{
    background: 0 0 #fff;
    border:1px solid #aaa;
    border-radius:3px;
    color:var(--font-color);
    font-size:1em;
    padding:10 50px;
    text-transform:uppercase;
}
.container__ .btn:hover{
    border-color:var(--font-hover-color);
    color:var(--font-hover-color);
}
.container__ textarea{
    resize:none;
}



.focused > .form-label{
    opacity:1;
    transform:translateX(0px);

}